* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

table {
  font-size: 12px !important;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 30px;
}

.login-container form label,
.login-container form button {
  margin-bottom: 10px;
}

.login-container form input {
  outline: none;
  padding: 10px;
  width: 100%;
  height: 50px;
}

.login-container form button {
  margin-top: 10px;
  background-color: #b61c22;
  padding: 10px;
  color: #ffffff;
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

.logo-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/sample.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.logo-container img {
  width: 100%;
  transform: scale(0.5);
  position: relative;
  z-index: 2;
}

.forgot-password-link {
  color: #000000;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }

  .login-container {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #400;
  color: white;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.navbar-item {
  padding: 0.5rem 1rem;
  font-size: 20px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #400;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar img {
  width: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  text-decoration: none !important;
  cursor: pointer;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

.sidebar-button {
  background-color: rgba(255, 255, 255, 0);
  margin-left: 20px;
  border: none;
}

/* Main content */
main {
  padding: 1rem;
}

/* Logout button */
.logout-button-container {
  width: 248px;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.logout-button {
  width: 248px;
  text-align: center;
}

.login-footer {
  text-decoration: none;
}

.main {
  display: flex;
}

/* cards */
.cards-container {
  width: 100%;
}

/* .cards-container h1 {
  margin: 1rem;
} */

.card-one,
.card-two,
.card-three,
.card-four {
  height: 230px;
  width: 45%;
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
}

.card-one {
  background-color: #FFC000;
}

.card-two {
  background-color: #00A36C;
}

.card-three {
  background-color: #0070C0;
}

.card-four {
  background-color: #FF0000;
}

.top-content {
  height: 80%;
  display: flex;
}

.top-content img,
.top-content h1 {
  margin: auto;
}

.bottom-content {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-content.one{
  background-color: #BF9000;
}

.bottom-content.two{
  background-color: #008000;
}

.bottom-content.three{
  background-color: #2F5597;
}

.bottom-content.four{
  background-color: #C00000;
}

.bottom-content h3,
.bottom-content i {
  margin: 10px;
}

.text-white{
  color: white !important;
}

.dashboard-bottom-title {
  font-weight: 400 !important;
}

/* Global CSS Classes */
.background-color-brown {
  background-color: #400;
}
/* End of Global CSS Classes */

.components-page-main-container {
  width: calc(100vw - 250px);
}
